.index {
  height: 100vh;
  box-sizing: border-box;
  padding: 16px;
  background-color: #f7f8fa;

  &__title {
    margin-bottom: 12px;
    font-size: 32rpx;
  }

  &__canvas {
    width: 100%;
    height: 400rpx;
    background-color: #ffffff;
    border-radius: 12rpx;
  }
}