name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build


      - name: Publish to npm
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "Version: $VERSION"

          if [[ "$VERSION" == *"-"* ]]; then
            echo "Pre-release detected"
            npm publish --provenance --tag next
          else
            echo "Stable release"
            npm publish --provenance
          fi